*{
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item .nav-link:hover{
    background-color: rgb(216, 39, 114);
    color: #fff;
}

.card-hr{
    opacity: 1;
    background-color: red;
    width: 15%;
    height: 5px;
    border: 0px;
    margin: 0 auto;
    margin-top: 20px;
}

.client-hr{
    opacity: 1;
    background-color: red;
    width: 5%;
    height: 5px;
    border: 0px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer{
    background-color: rgb(226, 26, 112);
}

.footer-hr{
    opacity: 1;
    border: 0px;
    height: 2px;
    background-color: #fff;
}